<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title}}</title>

    <!-- stylesheet -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">

    <!-- favicon -->
    <link rel="icon" href="{{ site.baseurl }}/assets/images/favicon.icn">

    <!-- JavaScript -->
      <script src="{{ site.baseurl }}/assets/js/script.js"></script>

    <!-- plugins -->
    {% seo %}

</head>
<body>
    {% include navigation.html %}
    {{content}}
</body>
</html>